@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: cyberpunk;
  src: url('./assets/fonts/GlitchGoblin.ttf');
}
body {
  overflow-x: hidden;
}
